<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <p class="text-center text-primary"><%= message %></p>
      <div>
        <% if (tasks.length > 0) { %>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Completed</th>
            <th colspan="2"></th>
          </tr>
          <% tasks.forEach((task) => { %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.completed %></td>
            <td>
              <a href="<%= '/tasks/edit/' + task.id %>" class="btn btn-primary">Edit</a
              >
            </td>
            <td>
              <a href="<%= '/tasks/delete/' + task.id %>" class="btn btn-primary">Delete</a
              >
            </td>
          </tr>
          <% }); %>
        </table>
        <% } else { %>
        <h2>There are no tasks to display.</h2>
        <% } %>
        <a href="/tasks/add" class="btn btn-primary">Add task</a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
